.blogIndex {
  padding: 0 5%;
}

.blogIndex h1 {
  margin-bottom: 50px;
}

.titleContainer {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.draftBadge {
  border-radius: 16px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: 200;
  padding: 2px 7px;
  margin-right: 6px;
}

.noPosts {
  text-align: center;
}

.pagePreview {
  max-width: 600px;
  margin: 10px auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.pagePreview:last-child {
  border-bottom: none;
}

.pagePreview h3,
.page h1 {
  margin-bottom: 0;
}

.page h1 {
  margin-top: 0;
}

.page :global(h2),
.page :global(h3) {
  margin: 3rem 0 1.5rem 0;
}

.page :global(video),
.page :global(img),
.page :global(.asset-wrapper) {
  margin: 2rem auto;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  display: block;
}

.page :global(.tweet) {
  margin: 2rem auto;
  text-align: center;
}

.page :global(.callout) {
  padding: 16px 16px 16px 12px;
  display: flex;
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background: rgba(235, 236, 237, 0.6);
}

.page :global(.callout .text) {
  margin-left: 8px;
}

.pagePreview :global(.pageed) {
  margin-bottom: 0.5em;
}

.page {
  max-width: calc(600px + 10%);
  margin: 0 auto;
  padding: 5%;
}

.page :global(hr) {
  margin-bottom: 2em;
}

.page :global(a + p) {
  margin-top: 0;
}
